/* From Uiverse.io by JustCode14 */
/* Theme Switch */
/* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 2.75em;
  height: 1.5em;
  border-radius: 30px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2a2a2a;
  transition: 0.4s;
  border-radius: 30px;
  overflow: hidden;
}

.slider:before {
  position: absolute;
  content: '';
  height: 0.833em;
  width: 0.833em;
  border-radius: 20px;
  left: 0.333em;
  bottom: 0.333em;
  transition: 0.4s;
  transition-timing-function: cubic-bezier(0.81, -0.04, 0.38, 1.5);
  box-shadow: inset 8px -4px 0px 0px #fff;
}

.switch input:checked + .slider {
  background-color: #00a6ff;
}

.switch input:checked + .slider:before {
  transform: translateX(1.25em);
  box-shadow: inset 15px -4px 0px 15px #ffcf48;
}

.star {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  width: 3.5px;
  transition:
    opacity 0.4s,
    transform 0.4s;
  height: 3.5px;
  transform: scale(1);
}

.star_1 {
  left: 1.75em;
  top: 0.35em;
}

.star_2 {
  left: 1.5em;
  top: 0.85em;
}

.star_3 {
  left: 2.1em;
  top: 0.65em;
}

.switch input:checked ~ .slider .star {
  opacity: 0;
  transform: scale(0.8);
}

.cloud {
  width: 2.4em;
  position: absolute;
  bottom: -1em;
  left: -0.75em;
  opacity: 0;
  transition:
    opacity 0.4s,
    transform 0.4s;
  transform: scale(0.8);
}

.switch input:checked ~ .slider .cloud {
  opacity: 1;
  transform: scale(1);
}
